.sidenav {
    height: 100vh;
    width: 300px;
    background: #fff;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.sidenav__container {
    text-align: left;
    height: 100%;
    width: 100%;
}

.sidenav__container .close_icon {
    font-size: 2rem;
    width: 100px;
    margin-left: 1rem;
    color: #828282;
}

/* SideNav mobile  */
.sidenav_mobile_menu {
    height: 100%;
    width: 270px;
    left: -100%;
    background: #fff;
    overflow: auto;
    position: absolute;
    z-index: 1;
    transition: 0.5s ease;
}
.sidenav_mobile_menu.active {
    left: 0;
    transition: 0.5s ease;
}



.sidenav_button_container {
    margin: 2rem 0 3rem 3rem;
}

.sidenav__menu {
    margin: 1rem 0 1rem 3rem;
}

.sidenav__menu h5 {
    font-size: 18px;
    font-weight: bold;
}

.sidenav__menu p {
    font-size: 14px;
    color: #333;
}

.sidenav__list ul {
    list-style: none;
}

.sidenav__list ul li {
    font-size: 14px;
    color: #333;
    padding: 10px 0;
}


@media screen and (max-width: 768px) {
.sidenav {
    display: none;
}
}