.product__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
    margin: 2rem 1rem 0 0;
}

.product__filters .filters {
    display: flex;
    align-items: center;
}

.filters select {
    border: 1px solid #828282;
    border-radius: 6px;
    background: #fbfbfb;
    margin: 0 1rem;
    padding: 6px 20px;
    font-size: 12px;
}


.other__options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

.other__options .options {
    display: flex;
    align-items: center;
}

.other__options .options p {
    padding: 0 10px;
    background: #fff;
    font-size: 12px;
    padding: 10px;
}

.display span {
    padding: 0 20px;
    background: #fff;
    font-size: 15px;
    padding: 10px;
}